body {
  margin: 0;
}

.loader {
  background-color: rgba(0,0,0,.5);
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-img {
  width: 100px;
  animation:spin 2s linear infinite;
}

@keyframes spin { 
  100% { 
      transform:rotate(360deg); 
  } 
}

.main  {
  height: 100vh;
  background-image: url('bg.jpeg');
  background-size: cover;
}
.main-gradient {
  background-image: linear-gradient(0deg, #0a0a0c, transparent);
  height: 100%;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 330px;
  border: 1px solid #7e633b;
  background-color: #101217;
  cursor: pointer;
  transition: .5s;
}

.card:hover {
  width: 325px;
  height: 350px;
}

.img {
  width: 100%;
}

.card-body {
  color: #7e633b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #7e633b;
  height: inherit;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #7e633b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -22px;
  background-color: #101217;
}

